.bg_2 {
    height: 4000px;
    width: 8000px;
    font-family: 'Roboto Condensed', sans-serif;
    background: rgb(107, 0, 0);
    color:#000000;
    background-image:  url(bg_map_paramonia.png);
    background-size: 150%;
    position: fixed;
    margin: 0px;
    top: 0px;
    z-index: -5;
    background-repeat: repeat;
    animation: bg2_move 60s infinite ease-in-out;
    background-repeat: repeat;
    background-size: 50%;
  }
  
  .bg_sprite_box {
  
  height: 100%;
  width: 100%;
  position: fixed;
  
  }
  
  .bg_sprite {
  
  width: 160px;
  height: 140px;
  z-index: -4;
  display: inline;
  position: absolute;
  
  }

@keyframes bg2_move {

0% {
left: 0;
}

50% {
left: -5500px;

}

100% {
left: 0;

}



}

.guide {

height: 2000px;
width: 80%;
background-color: rgba(40, 0, 71, 0.764);
outline: rgb(255, 255, 255) 1px solid;
border: black 3px solid;
display: block;
row-gap: 15px;
column-gap: 15px;
padding: 20px;
grid-template-columns: auto;
margin: auto;
margin-top: 150px;

}

.guide_upper {

width: auto;
height: 300px;
background-color: rgb(97, 3, 65);
margin: auto;
box-shadow: inset rgba(0, 0, 0, 0.581) 0 0 100px 10px;
outline: 1px solid rgb(255, 255, 255);
border: black 3px solid;

}

.guide_grid {

height: 300px;
width: 80%;
background-color: rgba(0, 53, 94, 0.764);
outline: white 1px solid;
border: black 3px solid;
display: grid;
margin: auto;
margin-top: 70px;
row-gap: 15px;
column-gap: 15px;
padding: 10px;
grid-template-columns: auto;



}

.guide_grid_inside {

background-color: red;
outline: black 2px solid;


}

.big_text {

font-size: 40px;
color: white;
font-family: 'Fjalla One', sans-serif;
text-shadow: black 3px 3px;
text-align: center;
line-height: 60px;
}
