html {
    overflow: hidden;
    user-select: none;

}


button {
    margin: 10px;


}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.85)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0%;
    margin: auto;
    z-index: -1;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: 0%;
    background-image: linear-gradient(to top, #ff9e27 25%, #b90000);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 25%;
}
.waveAnimation .waveTop {
    animation: move_wave 15s linear infinite;
}
.waveMiddle {
    background-size: 50% 40%;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
    animation-direction: reverse;
}
.waveBottom {
    background-size: 50% 55%;
}
.waveAnimation .waveBottom {
    animation: move_wave 5s linear infinite;
}










.btns_container {
    margin: auto;
    width: 50%;

    border: 3px rgb(122, 0, 0) solid;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 5% 10% 5% 10%;
    animation: combo_effect 1s 0.05s infinite;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset rgba(0, 0, 0, 0.719) 0 0 25px 0px;
    user-select: none;
}


@keyframes combo_effect {
    0% {outline: red 3px solid;}
    5% {outline: red 9px solid; transition-timing-function: ease-in;}
    80% {outline: red 3px solid;}
    100% {outline: red 3px solid;}




}


:root {
    


    --anim1type: obstacle1move 30s 8s infinite;
    --anim2type: obstacle2move 40s 24s infinite;


    --obstacle1top: 300%; /* 300 */
    --obstacle1left: 80%; /* 80 */
    --obstacle1scale: 200%; /* 200 */

    --obstacle2top: 50%; /* 50 */
    --obstacle2left: 0%; /* 100 */
    --obstacle2scale: 150%; /* 200 */

    --anim1wdur: 15s;
    --anim2wdur: 10s;

    --anim1wdel: 8s;
    --anim2wdel: 24s;

    --shadow1delay: 8.05s;
    --shadow2delay: 24.1s;

    --containerrotate: 90deg;

    --feedback: none;


    --left_mod: 0px;
    --top_mod: 0px;
    --rotate_mod: 0deg;
    --rotate_fix: 0deg;
    --scale_mod: 100%;

    --anim_time: 15s;

    
    --left_mod2: 0px;
    --top_mod2: 0px;
    --rotate_mod2: 0deg;
    --rotate_fix2: 0deg;
    --scale_mod2: 100%;

    --left_mod3: 0px;
    --top_mod3: 0px;
    --rotate_mod3: 0deg;
    --rotate_fix3: 0deg;
    --scale_mod3: 100%;



    --failstate_opacity: 0%;
    --failstate_fontsize: 100px;
    

}

.btn1txt {
    rotate: var(--rotate_fix);

    }

    .btn2txt {
        rotate: var(--rotate_fix2);
    
        }

        .btn3txt {
            rotate: var(--rotate_fix3);
        
            }
    

.rotating_btn_container {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    left: var(--left_mod);
    top: var(--top_mod);
    rotate: var(--rotate_mod);
    scale: var(--scale_mod);
    pointer-events: none;
}

.rotating_btn_container2 {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    left: var(--left_mod2);
    top: var(--top_mod2);
    rotate: var(--rotate_mod2);
    scale: var(--scale_mod2);


}

.rotating_btn_container3 {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    left: var(--left_mod3);
    top: var(--top_mod3);
    rotate: var(--rotate_mod3);
    scale: var(--scale_mod3);


}

.rotating_btn_container4 {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    left: var(--left_mod4);
    top: var(--top_mod4);
    rotate: var(--rotate_mod4);


    animation: container_movement 25s ease-in-out infinite;
}

@keyframes container_movement {

0% {rotate: var(--rotate_mod4);}

50% {rotate: 90deg;}

100% {rotate: var(--rotate_mod4);}


}

.starter_btn {
    width: 150px;
    height: 75px;
    background-color: rgb(99, 0, 0);
    outline: #ab0000 2px solid;
    border-radius: 10px;
    display: block;

    z-index: 11;
    position: absolute;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    animation: start_game_btn 0.5s ease-out forwards;
    animation-play-state: paused;

}

.start_text {
    text-align: center;
    line-height: 75px;
    margin: 0;

    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 45px;
    font-family: 'Oswald';
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 3px 3px 0, black 0 0 5px;
    letter-spacing: 3px;
}

.cover_screen1 {
    content: "";
    left: 0; /* Adjust as needed */
    top: -50%; /* Adjust as needed */
    position: fixed; /* Use fixed positioning for full-screen overlay */
    width: 100vw;
    height: 200vh;
    background-color: black;
    scale: 175%;
    z-index: 10;
    box-shadow: 0 0 50px 0 black;
    
    animation: start_game 2s cubic-bezier(.09,.5,.18,.75) forwards;
    animation-play-state: paused;
}

.cover_screen2 {
    content: "";
    left: 0; /* Adjust as needed */
    top: -50%; /* Adjust as needed */
    position: fixed; /* Use fixed positioning for full-screen overlay */
    width: 100vw;
    height: 200vh;
    background-color: rgb(64, 64, 64);
    rotate: 0deg;
    scale: 175%;
    z-index: 9;
    box-shadow: 0 0 50px 0 black;

    animation: start_game 2s 0.1s cubic-bezier(.09,.5,.18,.75) forwards;
    animation-play-state: paused;
}

.cover_screen3 {
    content: "";
    left: 0; /* Adjust as needed */
    top: -50%; /* Adjust as needed */
    position: fixed; /* Use fixed positioning for full-screen overlay */
    width: 100vw;
    height: 200vh;
    background-color: rgb(127, 127, 127);
    rotate: 0deg;
    scale: 175%;
    z-index: 8;
    box-shadow: 0 0 50px 0 black;

    animation: start_game 2s 0.2s cubic-bezier(.09,.5,.18,.75) forwards;
    animation-play-state: paused;
}



@keyframes start_game {
    0% {transform: translate(0%, 0%) rotate(0deg);}
    100% {transform: translate(-60%, 75%) rotate(-90deg);}

}

@keyframes start_game_btn {
    0% {transform: translate(0%, 0%); opacity: 100%;}
    90% {transform: translate(0%, 50%); opacity: 0; top: 0;}
    100% {top: 250%; opacity: 0;}
}

.main_obstacle_container {
    margin: auto;
    width: 70%;
    aspect-ratio: 2/1;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    user-select: none;
    overflow: hidden;
}

@keyframes obstacle1movehard {
    0% {left: 8.5%; transform: rotate(900deg); scale: 40%; transform-origin: 80% 120%;}
    50% {left: 8.5%; transform-origin: 40% 80%;}
    100% {left: 8.5%; transform: rotate(180deg); scale: 10%; transform-origin: 40% -80%;}
}

@keyframes obstacle1movehard2 {

0% {transform: rotate(900deg); scale: 60%; transform-origin: 40% -40%; top: 50%;}
50% {transform: rotate(0deg); transform-origin: 40% 80%; top: -20%; animation-timing-function: ease-in;}
100% {transform: rotate(1800deg); scale: 10%; transform-origin: 160% 80%; top: 100%;}

}

@keyframes obstacle2movehard {
    0% {transform: rotate(90deg);}
    100% {transform: rotate(360deg);}
}

@keyframes obstacle2movehard2 {
    0% {transform: rotate(90deg); scale: 40%; top: -175%;}
    100% {transform: rotate(1800deg); scale: 160%; top: -250%;}
}

.obstacle_container1 {
    width: 100%;
    height: 100%;
    left: var(--obstacle1left);
    top: var(--obstacle1top);
    scale: var(--obstacle1scale);
    margin: 0;
    position: absolute;
    z-index: 25;
    pointer-events: all;



    animation: var(--anim1type);
    transform-origin: 80% 160%;
    animation-play-state: paused;
    animation-iteration-count: 1;



}

.obstacle_container1shadow {
    width: 100%;
    height: 100%;
    left: var(--obstacle1left);
    top: var(--obstacle1top);
    scale: var(--obstacle1scale);
    margin: 0;
    position: absolute;
    z-index: 25;
    pointer-events: none;
    opacity: 40%;

    animation: var(--anim1type);
    transform-origin: 80% 160%;
    animation-play-state: paused;
    animation-delay: var(--shadow1delay);
    animation-iteration-count: 1;


}

.obstacle_container1warning {
    width: 100%;
    height: 100%;
    left: var(--obstacle1left);
    top: var(--obstacle1top);
    scale: var(--obstacle1scale);
    margin: 0;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    opacity: 50%;

    animation: var(--anim1type), huechange 2s infinite;
    transform-origin: 80% 160%;
    animation-play-state: paused;
    animation-delay: var(--anim1wdel);
    animation-duration: var(--anim1wdur);
    animation-iteration-count: 1;

}

.obstacle_container2 {
    width: 100%;
    height: 100%;
    left: var(--obstacle2left);
    top: var(--obstacle2top);
    scale: var(--obstacle2scale);
    margin: 0;
    position: absolute;
    z-index: 25;
    pointer-events: all;
    rotate: var(--containerrotate);

    animation: var(--anim2type);
    transform-origin: 80% 160%;
    animation-play-state: paused;
    animation-iteration-count: 1;



}

.obstacle_container2shadow {
    width: 100%;
    height: 100%;
    left: var(--obstacle2left);
    top: var(--obstacle2top);
    scale: var(--obstacle2scale);
    margin: 0;
    position: absolute;
    z-index: 25;
    pointer-events: none;
    rotate: var(--containerrotate);
    opacity: 40%;

    animation: var(--anim2type);
    transform-origin: 80% 160%;
    animation-play-state: paused;
    animation-delay: var(--shadow2delay);
    animation-iteration-count: 1;



}

.obstacle_container2warning {
    width: 100%;
    height: 100%;
    left: var(--obstacle2left);
    top: var(--obstacle2top);
    scale: var(--obstacle2scale);
    margin: 0;
    position: absolute;
    z-index: 0;
    pointer-events: none;
    rotate: var(--containerrotate);
    opacity: 50%;

    animation: var(--anim2type), huechange 2s infinite;
    transform-origin: 80% 160%;
    animation-play-state: paused;
    animation-delay: var(--anim2wdel);
    animation-duration: var(--anim2wdur);
    animation-iteration-count: 1;
 


}

.rectangle_shape {
    width: 20%;
    height: 40%;

    background-color: rgb(0, 0, 0);
    position: absolute;
    pointer-events: all;

}

.circle_shape {
    width: 40%;
    height: 80%;
    border-radius: 100%;

    background-color: rgb(0, 0, 0);
    position: absolute;
    pointer-events: all;

    }

    @keyframes huechange {

        0% {filter: hue-rotate(0deg);}
        100% {filter: hue-rotate(3600deg);}
    }



    @keyframes obstacle1move {
        0% {transform: rotate(-30deg);}
        100% {transform: rotate(180deg);}
    }

    @keyframes obstacle2move {
        0% {transform: rotate(-135deg);}
        100% {transform: rotate(180deg);}
    }




.btn_1 {
    width: 15%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;    background-color: rgb(255, 210, 62);
    font-size: 35px;
    border-radius: 100%;
    border: 2px rgba(255, 0, 0, 0.39) solid;
    outline: rgba(0, 0, 0, 0.315) 4px inset;
    position: absolute;
    box-shadow: inset rgba(0, 0, 0, 0.068) 7px 7px, rgba(0, 0, 0, 0.664) 0 0 50px 0, rgba(255, 0, 0, 0.34) inset 0 0 15px 0, rgba(0, 0, 0, 0.347) 0 0 10px 10px;
    pointer-events: all;

    scale: var(--feedback);
    z-index: 5;


}



.btn1anim {

    animation: btn1loop infinite 15s;
    animation-play-state: paused;


    
}

.btn_2 {
    width: 12.5%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;    background-color: rgba(255, 210, 62, 0.658);
    font-size: 25px;
    border-radius: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.068) 15px 15px;
    background-color: rgba(124, 22, 22, 0.658);
    border: 2px rgba(255, 50, 50, 0.39) solid;
    outline: rgba(0, 0, 0, 0.315) 4px inset;
    animation: btn2loop infinite 20s;
    position: absolute;
    pointer-events: all;
    box-shadow: inset rgba(0, 0, 0, 0.068) 7px 7px, rgba(0, 0, 0, 0.664) 0 0 50px 0, rgba(255, 0, 0, 0.34) inset 0 0 15px 0, rgba(0, 0, 0, 0.347) 0 0 10px 10px;

    animation-play-state: paused;

    z-index: 5;


}

.btn_3 {
    width: 10%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;    background-color: rgba(255, 210, 62, 0.658);
    font-size: 15px;
    border-radius: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.068) 7px 7px, rgba(0, 0, 0, 0.664) 0 0 50px 0, rgba(255, 0, 0, 0.34) inset 0 0 15px 0, rgba(0, 0, 0, 0.347) 0 0 10px 10px;
    background-color: rgba(7, 124, 23, 0.781);
    border: 2px rgba(255, 234, 114, 0.39) solid;
    outline: rgba(0, 0, 0, 0.315) 4px inset;
    animation: btn3loop infinite 30s;
    position: absolute;
    left: 30%;
    pointer-events: all;

    animation-play-state: paused;

    z-index: 5;




}

.btn_4 {
    width: 7.5%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;    background-color: rgba(255, 210, 62, 0.658);
    font-size: 10px;
    border-radius: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.068) 7px 7px, rgba(0, 0, 0, 0.664) 0 0 50px 0, rgba(255, 0, 0, 0.34) inset 0 0 15px 0, rgba(0, 0, 0, 0.347) 0 0 10px 10px;
    background-color: rgba(62, 162, 255, 0.658);
    border: 2px rgba(159, 85, 255, 0.39) solid;
    outline: rgba(0, 0, 0, 0.315) 4px inset;
    animation: btn4loop infinite 25s;
    position: absolute;
    pointer-events: all;

    scale: var(--scale_mod4);

    animation-play-state: paused;

    z-index: 5;


}

.btn1shadow {
    width: 15%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 35px;
    border-radius: 100%;
    animation: btn1loop infinite 15s 0.1s;
    position: absolute;
    box-shadow: inset rgba(0, 0, 0, 0.035) 7px 7px, rgba(0, 0, 0, 0.325) 0 0 50px 0, rgba(0, 0, 0, 0.175) 0 0 10px 10px;
    transform: translate(10%, 10%);
    z-index: -1;
    scale: 80%;

    opacity: 0;
    animation-play-state: paused;

    
}

.btn1shadow2 {
    width: 15%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 35px;
    border-radius: 100%;
    animation: btn1loop infinite 15s 0.2s;
    position: absolute;
    box-shadow: inset rgba(0, 0, 0, 0.025) 7px 7px, rgba(0, 0, 0, 0.25) 0 0 50px 0, rgba(0, 0, 0, 0.125) 0 0 10px 10px;
    transform: translate(10%, 10%);
    z-index: -1;
    scale: 65%;

    opacity: 0;
    animation-play-state: paused;

}

.btn1shadow3 {
    width: 15%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 35px;
    border-radius: 100%;
    animation: btn1loop infinite 15s 0.3s;
    position: absolute;
    box-shadow: inset rgba(0, 0, 0, 0.02) 7px 7px, rgba(0, 0, 0, 0.2) 0 0 50px 0, rgba(0, 0, 0, 0.1) 0 0 10px 10px;
    transform: translate(10%, 10%);
    z-index: -1;
    scale: 50%;

    opacity: 0;
    animation-play-state: paused;

    
}

@keyframes btn1loop {
    0% {left: 5%; top: 52%; opacity: 0%; pointer-events: none;}
    2% {opacity: 0%; pointer-events: none;}
    6.6% {left: 72%; top: 52%; opacity: 100%; pointer-events: all;}
    13.2% {left: 72%; top: 10%;} 
    19.8% {left: 10%; top: 10%;}
    26.4% {left: 10%; top: 45%;}
    33% {left: 62%; top: 45%;}
    39.6% {left: 62%; top: 15%;}
    46.2% {left: 15%; top: 15%;}
    52.8% {left: 15%; top: 35%;}
    59.4% {left: 42%; top: 35%; animation-timing-function: cubic-bezier(.63,.01,.80,.26); opacity: 100%; pointer-events: all;}
    62.7% {opacity: 100%;}
    66%, 100% {left: 42%; top: -300%; opacity: 0%; pointer-events: none;}

}

@keyframes btn2loop {
    0% {
    transform: translate(-150%, 0%); animation-timing-function: ease-in}

    0% {opacity: 0%;}

    10% {opacity: 100%;}
    
    10% {transform: translate(0%, 200%); animation-timing-function: cubic-bezier(.41,2.6,.37,-1.81);}

    40% {transform: translate(200%, 0%); animation-timing-function: cubic-bezier(.41,2.6,.37,-1.81);}

    60% {transform: translate(400%, 200%); animation-timing-function: cubic-bezier(.41,2.6,.37,-1.81);}

    90% {transform: translate(600%, 0%); animation-timing-function: ease-out;}

    90% {opacity: 100%;}

    100% {opacity: 0%;}

    100% {transform: translate(800%, 200%);}
}

@keyframes btn3loop {
    0% {left: 50%; top: 50%; opacity: 0%; pointer-events: none;}
   
    5% {left: 75%; top: 75%; opacity: 100%; pointer-events: all;}
    10% {left: 75%; top: 25%;} 
    15% {left: 25%; top: 25%;}
    20% {left: 25%; top: 50%;}
    25% {left: 50%; top: 50%;}
    30% {left: 50%; top: 0%;}
    35% {left: 0%; top: 0%;}
    40% {left: 0%; top: -25%;}
    45% {left: -50%; top: -25%;}
    50% {left: -50%; top: 25%;}
    55% {left: 0%; top: 25%;}
    60% {left: 0%; top: -25%;} 
    65% {left: 25%; top: -25%;}
    70% {left: 25%; top: 50%;}
    75% {left: 0%; top: 50%;}
    80% {left: 0%; top: 25%;}
    85% {left: 75%; top: 25%;}
    90% {left: 75%; top: -25%;}
    95% {left: 25%; top: -25%; opacity: 100%; animation-timing-function: cubic-bezier(.63,.01,.80,.26); opacity: 100%; pointer-events: all;}
    100% {left: 25%; top: -300%; opacity: 0%; pointer-events: none;}
    
}

@keyframes btn4loop {
    0% {
        
        opacity: 0%;
        transform: translate(0%, 0%); animation-timing-function: ease-in-out;}
        
        10% {opacity: 100%;
            transform: translate(1600%, 0%); animation-timing-function: ease-in-out;

        }
        
        20% {transform: translate(1600%, 0%); animation-timing-function: ease-in-out;}
    
        30% {transform: translate(400% -200%); animation-timing-function: ease-in-out;}

        40% {transform: translate(400% -200%); animation-timing-function: ease-in-out;}
    
        50% {transform: translate(0%, 800%); animation-timing-function: ease-in-out;}

        60% {transform: translate(0%, 800%); animation-timing-function: ease-in-out;}
    
        70% {transform: translate(-600%, 400%); animation-timing-function: ease-in-out;}

        80% {transform: translate(-600%, 400%); animation-timing-function: ease-in-out;}
    
        90% {transform: translate(800%, 400%); animation-timing-function: ease-in-out;}

        90% {opacity: 100%;}
    
    
        100% {transform: translate(1200%, 400%); animation-timing-function: ease-in-out; opacity: 0%;}
    
}


/*



.one_state_a {
animation-duration: 10s;


}

.one_state_b {

animation-duration: 2s;

}

.two_state_a {



}

.two_state_b {



}

.three_state_a {



}

.three_state_b {



}

.four_state_a {



}

.four_state_b {



}

*/

.score_container {
    text-align: center;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 5;
    top: 6%;
    pointer-events: none;

}

.score_display {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    transition: all 0.3s 0s;
    width: 100px;
    height: 100px;
    outline: 3px red solid;
    margin: auto;
    margin-top: 1%;
    background-color: white;
    box-shadow: inset rgba(0, 0, 0, 0.719) 0 0 25px 0px;

}

.combo_display {
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 1.5%;
    border: rgb(0, 0, 0) 3px solid;
    background-color: white;
    box-shadow: inset rgba(0, 0, 0, 0.719) 0 0 25px 0px;

}

.animate_score {
    opacity: 100%;
    font-size: 2.5em; /* Set the desired font size when the score increments */
    transition: all 0.05s 0s;
    outline: 15px red solid;
}


.quick_animation {
    font-size: 1.5em; /* Set desired font size for quick animation */
    opacity: 0.8; /* Set desired opacity for quick animation */
    transition-delay: 0s;
}





.failstate {
    opacity: var(--failstate_opacity);
    z-index: 100;
    background-color: black;
    pointer-events: none;
    background-size: 100%;
    transition-duration: 1s;
    
    width: 70%;
    aspect-ratio: 2/1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    user-select: none;
    overflow: hidden;
    
    display: flex;
    margin: auto;
    font-size: 50%;
    color: white;
    align-self: center;
    align-items: center;

}

.failstate_text {
    display: flex;
    margin: auto;
    align-self: center;
    align-items: center;

    font-size: var(--failstate_fontsize);
    color: white;
    transition: 2s;

}

